@import "../../../node_modules/@ionic/core/css/core.css";
@import "../../../node_modules/@ionic/core/css/typography.css";

.scripture-styles {
	@media (prefers-color-scheme: dark) {
		color: #ddd;

		.v {
			color: #ddd;
		}
	}

	@media(prefers-color-scheme: light) {
		color: #333;

		.v {
			color: #333;
		}
	}

}